@import url('https://fonts.googleapis.com/css?family=Lobster');
body{
	background-color: #eee;
}
/**** main video banner ******/
.video-tron{
	margin-top: 20px;
	margin-left: 40px;
	margin-right:10px;
	margin-bottom: 60px;
}
.banner-video{
	
}
.banner-heading{
	
}

/*************************/
ul{
	list-style: none;
}


.challenge-display-tile{
	border-color: grey;
	background-color: yellow;	
}

.new-add-form{
	
}
.testimony{
	color: #d72444;
	font-family: 'Lobster', cursive;
	font-size: 26px;
}