@import url('https://fonts.googleapis.com/css?family=Lobster');
body {
  background-color: #fff;
  
}

/******** login and logout **********/
.fa-sign-out{
  color: #f63;
}
.sign-out-btn{
  color: #fff;
  background-color: #000;
  margin-top: 10px;
  margin-right: 30px;
  font-size: 16px;
  font-family: 'Lobster', cursive;
  padding:10px;
  letter-spacing: 5px;
}
.active-heading{
  padding:20px;
}

.signup-style{
  font-size: 24px;
  font-family: 'Lobster', cursive;

}

.login-style{
  font-family: 'Lobster', cursive;
  font-size: 20px;
  letter-spacing: 4px;
}


/***** navigation bar ***********/

.navbar-default {
  background-color: #fff;
  color: #d72444;
}

.navbar-header a {
  font-size: 34px;
  font-family: 'Lobster', cursive;
}

.nav-form {
  margin-top: 10px;
}


/**** main video banner ******/

.video-tron {
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 10px;
  margin-bottom: 60px;
}

.banner-video {}

.banner-heading {}


/*************************/

ul {
  list-style: none;
}

.challenge-display-tile {
  border-color: grey;
}

.new-add-form {}

.testimony {
  color: #d72444;
  font-family: 'Lobster', cursive;
  font-size: 26px;
}


/********* New Video ******************/

.add-new-video {
  margin-bottom: 20px;
}

.wordwrap {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
}


/******** Video display **********/

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.saveReviewButton {
  margin-top: 610px;
}

.ratingsComments {
  font-size: 20px;
  width: 100%;
  height: 400px;
  overflow: scroll;
}

@media only screen and (max-width: 500px) {
  .video-frame {
    width: 100%;
    height: 315px;
  }
}

@media only screen and (min-width: 500px) {
  .video-frame {
    width: 100%;
    height: 500px;
  }
}
