<div class="container">
<div class="jumbotron login-border">
<div class="container">
	
	<div class="row">
	 
	  <div class="col-md-4 col-md-offset-4">

	  	<form class="form-horizontal">
	  		<div class="form-group"> 
	  			{{input type="text" value=userEmail placeholder="Email"
	  				class="form-control"}}
	  		</div>
	  		<div class="form-group">
	 			{{input type="password" value=userPassword placeholder="Password" class="form-control"}}
	 		</div>
	  			<button class="btn btn-primary" {{action "login"}}> Login 
	  			</button>
	  	</form>
	  	
	  	
		{{#link-to 'signup'}} Signup first! {{/link-to}}
	  </div><!-- End of col-md-4 -->
	 
	</div><!-- End of Row -->
	
	
</div><!-- End of Container -->
</div>
</div>
