<div class="container">
  <h2>Video challenge submitted by {{model.username}}</h2>
  <video width="600" height="400" controls>
  <source src={{model.videourl}}>
</video>

<h1>Ratings and Comments</h1>
  <p>{{model.rating}}</p>
  <p>{{model.comment}}</p>
</div>
